{%extends 'base.html'%}
{%block body_block%}
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-4"></div>-->
<!--        <div class="col-4">-->


<!--            {%if messages%}-->
<!--            {%for msg in messages%}-->


<!--            {%if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}-->
<!--            <div class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--                <strong>HEY!</strong> {{msg}}-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--            </div>-->

<!--            {%endif%}-->
<!--            {%if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR%}-->
<!--            <div class="alert alert-warning alert-dismissible fade show" role="alert">-->
<!--                <strong>HEY!</strong>{{msg}}-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--            </div>-->

<!--            {%endif%}-->
<!--            {%endfor%}-->
<!--            {%endif%}-->
<!--        </div>-->
<!--        <div class="col-4"></div>-->
<!--    </div>-->
    <div class="container mt-5">
    <div class="row">
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
              {{form.as_p}}
<!--            <div class="row mt-5">-->
<!--                <div class="col-4">-->
<!--                    <div class="card mt-3" style="width: 18rem;">-->
<!--                        <img src="" class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                                                        <h5 class="card-title">{{request.user}}</h5>-->
<!--                            &lt;!&ndash;                            <p class="card-text">Some quick example text to build on the card title and make up the bulk&ndash;&gt;-->
<!--                            &lt;!&ndash;                                of the card's content.</p>&ndash;&gt;-->
<!--                            <a href="#" class="btn btn-primary">Profile Picture</a>-->
<!--                            <input type="file" name="profile_pic" id="id_profile_pic">-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-4 mt-5 me-5">-->

<!--                    <input type="text" class="form-control" name="bio" id="id_bio" placeholder="Bio"><br>-->
<!--                    <input type="tel" class="form-control" name="phone" id="id_phone"-->
<!--                           placeholder="Phone Number"><br>-->
<!--                    <input type="date" class="form-control" name="date_of_birth" id="id_date_of_birth"-->
<!--                           placeholder="DOB"><br>-->
<!--                     <input type="text" class="form-control" name="gender" id="id_gender"-->
<!--                           placeholder="Gender"><br>-->
<!--                </div>-->

                <div class="container">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <input type="Submit" class="btn btn-danger" id="">
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
    </div>
            </div>

        </form>
    </div>
{%endblock%}