{%extends 'base.html'%}
{%block body_block%}
<!--<div class="container">-->
  <div class="row">

    <div class="col-4"></div>
    <div class="col-4">
      <h1 class="mt-5">WELCOME{{request.user}}</h1>
    </div>
    <div class="col-4"></div>
  </div>

<div class="row">
<!--  <div class="col-4"></div>-->
  <div class="col-8">
    <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
              {{form.as_p}}
      <input type="submit" value="post">
    </form>
  </div>
  <div class="col-4"></div>
</div>
{%for blog in blogs%}
<div class="row border border-danger mt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <p>{{blog.title}}</p>
    {%if blog.image%}
      <img src="{{blog.image.url}}" class="img-fluid" alt="...">
    <p>Posted_by :{{blog.author}}</p>
    <p>Created_at :{{blog.posted_date}}</p>
    <form action="{%url 'add-comment' blog.id%}" method="post">
      {%csrf_token%}
      {{comment_form.as_p}}
      {%for comment in blog.comments_set.all%}
      <div>
        {{comment.comment}}
        {{comment.user}}
      </div>
      {%endfor%}
      <input type="submit" class="btn btn-danger">
    </form>
    {%endif%}
  </div>
  <div class="col-4"></div>
</div>
<!--</div>-->
{%endfor%}

{%endblock%}